main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.outer-container {
  display: flex;
  flex-direction: column;
}

.top .row{
  display: flex;
  flex-direction: row;
}

.top .col-2 .row {
  height: 60px;
}

.bottom .row {
  display: flex;
  flex-direction: row;
}

.bottom .col-1 {
  width: 60px;
}

.chess-board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.chess-board .row {
  display: flex;
  flex-direction: row;
}

.chess-board .row:nth-child(2n-1) .col-1:nth-child(2n) {
  background: rgb(118, 149, 89);
}
.chess-board .row:nth-child(2n-1) .col-1:nth-child(2n-1) {
  background: rgb(238, 238, 211);
}

.chess-board .row:nth-child(2n) .col-1:nth-child(2n-1) {
  background: rgb(118, 149, 89);
}
.chess-board .row:nth-child(2n) .col-1:nth-child(2n) {
  background: rgb(238, 238, 211);
}

.chess-board .col-1 {
  width: 60px;
  height: 60px;
}

img {
  width: 60px;
  height: 60px;
}

@media (hover: hover) {
  .chess-board .col-1:hover {
    border: solid;
  }

}

footer {
  display: block;
  margin: auto;
  width: 480px;
  height: 50px;
}

footer .col-1 {
  font-weight: bold;
}

footer .container-fluid .captured {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

footer .row.black {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  height: 25px;
}

footer .col-10.black {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

footer .row.white {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  height: 25px;
}

footer .col-10.white {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
